<div>

  <p>You have a new message on RubyAngel.</p>
  <hr>

  	<p>From: <%= "#{@sender}" %></p>
  	<p>Reply to: <%= "#{@reply_to}" %></p>
	<p>Sent at: <%= "#{@sent}" %></p>
	<p>---------------------------------------</p>
	<p>Message is as follows:</p>
  		<p><%= @message %></p>

</div>

<!-- add link to view message on activeadmin -->